extends ../_layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/drawit.js')
block content
  h1= title
  p Welcome to #{title}
  div#mainwrapper
    form#sendmessageform
      input#message(placeholder='Message')
      input(type='submit',value='Send')
    ul#userlist
    ul#chatwindow
  div#loginwrapper
    form#userform
      input#username(placeholder='Username')
      br
      input#room(placeholder='Room')
      br
      input(type='submit',value="Let's Play")