extends ../_layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/drawit.js')
block content
  div#mainwrapper
    div#leftpanel
      h1= title
      p Welcome to DrawIt!
      hr
      div.box
        h3.centered Current Players:
        ul#userlist
      div.box
        h3.centered Chat
        form#sendmessageform
          input#message.textbox(placeholder='Message')
          input.button(type='submit',value='Send')
        hr
        ul#chatlist
    div#mainpanel
      canvas#pad(width='1000',height='1000')
  div#loginwrapper
    h1= title
    p Welcome to #{title}
    form#userform
      input#username.textbox(placeholder='Username')
      br
      input#room.textbox(placeholder='Room')
      br
      input.button(type='submit',value="Let's Play")