extends ../_layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/drawit.js')
block content
  h1= title
  p Welcome to #{title}
  form#sendmessageform
    input#message
    input(type='submit',value='Send')
  ul#chatwindow